@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FAF9F9;
}

@media () {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.cardHover{
  transition: 0.1s;
}

.cardHover:hover{
  transform: translate(0, -3px);
}

.bookshelf-container.fade-in {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* keyframes for wiggle-alert */
@keyframes wiggle-alert {
  0%, 100% { transform: translateX(0px); }
  25% { transform: translateX(-3px); } 
  75% { transform: translateX(3px); } 
}

.wiggle-alert {
  animation: wiggle-alert 0.2s; 
}

/* keyframes for big-wiggle */
@keyframes big-wiggle {
  0%, 100% { transform: translateX(0px); }
  25% { transform: translateX(-10px); } 
  75% { transform: translateX(10px); } 
}

.big-wiggle {
  animation: big-wiggle 0.3s linear 3;
}

.button-press {
  transform: scale(0.96);
}